* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100%;
  background: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "box .";
}

.up p {
  font-size: 82px;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  color: white;
}
.down p {
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  color: white;
  font-size: 18px;
}

nav {
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}

.box {
  display: grid;
  grid-template-rows: 40vh 5vh 45vh 10vh;
  grid-template-areas: "up" "down" "donate-block" "footer";
}

.up {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  left: 25px;
}

.down {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 1rem;
  position: relative;
  top: -10px;
  left: 125px;
}

.donate-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -100px;
  left: 25px;
}

.donate {
  height: 60px;
  width: 140px;
  border-radius: 1rem;
  font-size: 18px;
  background: #ffd3d3;
  color: #220000;
  font-weight: 500;
}

.footer {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  position: relative;
  left: 10rem;
}
